<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Library: Loan Book</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<section id="main">
<div class="container">
    <header>
        <h2>Loan <strong>Book</strong></h2>
    </header>
    <div class="row ">
        <div class="medium">
            <section>

            </section>
        </div>
    </div>
</div>
</section>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>