<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Library: Return Book</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<section id="main">
<div class="container">
    <header>
        <h2>Return <strong>Book</strong></h2>
    </header>
    <div class="row ">
        <div class="medium">
            <section>
                <table>
                    <tr>
                        <th> Id</th>
                        <th> Title</th>
                        <th> Available</th>
                        <th> Loan to User</th>
                        <th> Action</th>
                    </tr>
                    <tr th:each="book: ${availableLoans.keySet()}">
                        <td th:text="${book.id}"/>
                        <td th:text="${book.name}"/>
                        <td th:text="${book.availableCopies}"/>
                        <td>
                            <select th:if="${availableLoans.get(book).size()> 0}" th:id="'loan'+${book.id}">
                                <option th:each="user: ${availableLoans.get(book)}" th:value="${user.id}"
                                        th:text="${user.id} + ':'+ ${user.firstName} + ' ' + ${user.lastName}"></option>
                            </select>
                        </td>
                        <td>
                            <a class="icon solid fa-cart-arrow-down" style="color: royalblue"
                               th:attr="onclick='returnBook('+${book.id}+')'">
                                Accept Loan
                            </a>
                        </td>

                    </tr>

                </table>
            </section>
        </div>
    </div>
</div>
</section>
<div th:replace="fragment/footer :: footer"></div>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });


    });

    function returnBook(bId) {
        $.ajax({
            url: "/return-book?bookId=" + bId + "&userId=" + $('#loan' + bId).children("option:selected").val(),
            type: "POST",
            success: function (data) {
                if (data === 'returned') {
                    location.reload();
                } else {

                    console.log(data);
                }
            },
            error: function (data) {
                console.log(data);
            },
        });
    }

</script>
</body>
</html>